-// section footer
    footer.footer
      .footdiv1
        // <img src="img/Austin FX LOGO.png" alt="">
        span.footspan MEWUARTS
      .footdiv2
        ul
          li
            a(href='#')
              i.fa.fa-instagram
          li
            a(href='')
              i.fa.fa-twitter
          li
            a(href='')
              i.fa.fa-facebook
          li
            a(href='')
              i.fa.fa-pinterest
script(src='/js/mapbox.js')
script(src="https://js.stripe.com/v3/")
script(src='/js/bundle.js')