.hidden
      ul.ul1
        if user 
          li
            a(href='/') All Arts
          li
            a.nav__el--logout1
              | logout
          li
            a(style='display: flex; align-items:center;', href='/me')
              span.fancy2
                img.photo(style='border: 5px solid rgba(255, 255, 255, .7)', src=`/img/users/${user.photo}`, alt='')
              span(style='margin-left: 5px;')= user.name.split(' ')[0]
              span#getUserId(title=`${user.id}`)
        else 
          li
            a(href='/overview') All Arts
          li
            a(href='/signup') Signup 
          li
            a(style='display: flex; align-items:center;', href='/login') Login
      ul.ul2
        li(style='padding-right: 10px;')
          a(href='#')
              i.fa.fa-instagram
          a(href='#')
              i.fa.fa-twitter
          a(href='#')
              i.fa.fa-facebook
          a(href='#')
              i.fa.fa-pinterest