doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='css/styles.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='icon', href='/img/Austin FX LOGO.png')
  title=title 
.container
  // section header
  include _header
  .containment
    .hidden
      ul.ul1
        li
          a(href='/') All tours
        li
          a(href='/signup') Signup
        li
          a(href='/login') Login
      ul.ul2
        li(style='padding-right: 10px;')
          a(href='#') About us
        li
          a(href='#') Contact
    // section Error page
    
  include _footer
